{% extends "layout.html" %}
{% block body %}

<div class="page-header">
    <h2 style="color: #FFFFFF;float: left;"> EXPLORE THE UNEXPLORED! </h2>
</div>
<table class="table table-bordered" style= "width:100%">
    {% for card in cards %}
    <tr>
        <td style= "width:10%;text-align: center">
            <a href="{{ url_for('add_card_explore', type=card.type, front=card.front, back=card.back) }}" class="btn btn-xs btn-primary"><i class="fa fa-solid fa-sharp fa-plus fa-1x" aria-hidden="true" style="font-size:37px;color:white;margin-top:10%;"></i></a>

            <td class="cardContent">
                <h4>
                    {{ card.front }}
                </h4>
                {% if card.type == 1 %}
                <pre><code>{{ card.back|escape }}</code></pre>
                {% else %}
                <pre><code>{{ card.back|escape }}</code></pre>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td>
                <em style="color: black">No Flashcards to Show</em>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}