{% extends "layout.html" %}
{% block body %}
    

    <hr/>

    <div class="row memorizePanel"> 
        <div class="flipContainer col-xs-8 col-xs-offset-2" id = "flipCards" >
            <div class="panel panel-default cardFront"style="background-color:#F3E779;" >
                <div class="panel-body" >
                    <div class="alignContainer">
                        <div class="alignMiddle frontText">
                            {% if not card['id'] %}
                            <h2 class="text-center" style="color: #FF0000;"> 0 Cards found for {{card_type}} </h2>
                            {% else %}
                            <h3 class="text-center">{{ card['front'] }}</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary cardBack" style="background-color:#F3E779;">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div class="alignMiddle frontText"  id="InvertAgain">
                            <div class="text-center largerText">
                            {% if card_type == 1 %}
                            <pre><code>{{ card['back']|escape }}</code></pre>
                            {% else %}
                                <pre><code>{{ card['back']|escape }}</code></pre>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    

    <div class="row">
        <div class="col-xs-12 text-center">
            {% if not card['id'] %}

            {% else %}
            
            <a href="javascript:" class="btn btn-primary btn-lg flipCard">
                <i class="fa fa-exchange"></i>
                Flip Card
            </a>
            {% endif %}           
            
            &nbsp;
            &nbsp;
            {% if not card['id']%}

            {% else %}

            <a href="{{ url_for('explore_cards', id = next_id) }}" class="btn btn-primary btn-lg">
                Next Card
                <i class="fa fa-arrow-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
   

{% endblock %}
