<!doctype html>

<html>
<head>
   <!-- <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 35px;
            background: white;
            text-align: center;  
            font-family: sans-serif;
        
            font-size: 20px;
        }
    </style> //-->
    <title>Organic Chemistry Flashcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight-theme-github.css') }}" />
    <script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
</head>
<body style="background-image: linear-gradient(to right, #185a9d,  #43cea2)">
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               
                <br/>
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <img  class="navbar-brand" src="https://i.ibb.co/1L3Bj8d/logo.png" alt="Italian Trulli" style="width:90px;height:90px" >
                        <a class="navbar-brand" href="{{ url_for('home') }}" style="font-size: 25px;">Organic Chemistry Flashcards</a>

                        <ul class="nav navbar-nav navbar-right">
                            {% if not session.logged_in %}
                                <li><a href="{{ url_for('login') }}" style="font-size: 20px;"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                                <li><a href="{{ url_for('register_user') }}" style="font-size: 20px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            </ul> 
                            {% else %}
                               
                            <ul class="nav navbar-nav navbar-right">
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li><a href="{{ url_for('logout') }}" style="font-size: 20px;float: right!important;"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>  
                            </ul> 
                                {% endif %}
                        

                    </div>
                    <h2 style="float: right; width: 10%; text-align: right;color: darkgray;margin: 20px;font-size: 20px;">
                        <span> {{userNameToDisplayForApp}}</span>
                    </h2>
                    
                </nav>

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/8cea844162.js"></script>
    <script src="{{ url_for('static', filename='fastclick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='definitions.js') }}"></script>
<!--
    <div>  
<h1> </h1>
<h1> </h1>
<h1> </h1>
    </div>
    

    <div id="footer" >
        @Copyright Geek Clan 2022- All Right Reserved.  
    </div>
    //-->
</body>

</html>
