{% extends "layout.html" %}
{% block body %}
    <h2 style="color:white;text-align:center">User Log In</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <div class="well">
        
        <form method="POST" action="{{ url_for('user_login') }}">
            {{ form.csrf_token }}  
            <div class="input-group input-group-lg">
                
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.username(class="form-control",placeholder="Username") }}
                
            </div>
            <br>
            
            <div class="input-group input-group-lg">
              
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password(class="form-control",placeholder="Password" ) }}  
            </div>
            <hr>
            <div class="form-group">

            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block" style="background-color:#0096FF;color:white;font-weight: bold;">LOG IN</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}