{% extends "layout.html" %}
{% block body %}
<div class="row bg-light my-5">
    <h1>Flashcards</h1>
    <h3>Have fun Learning Organic Chemistry !</h3>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="my-4">
                <blockquote class="blockquote mb-0">
                    <p>The best digital flashcards and study tools for Organic Chemistry.<br>
                        Join over 60 million students using science-backed flashcards, 
                        practice tests and expert solutions to improve their grades and reach their goals.
                    </p>
                </blockquote>
             </div>
        </div>
        <div class="col-3">
            <div class="row my-5 card-wrapper">                    
                    <div class="col-md-auto">  
                         <div class="card h-100">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="card-img top embed-responsive-item" 
                                    src="https://i.ibb.co/h1sTqZ5/Chemical-Bond.jpg"  alt="Organic Chemistry"/>                                   
                                </div>                          
                         </div>                 
                    </div>
            </div>
        </div>
    </div> 
{% endblock %}